{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Forbidden (403)" %}
{% endblock title %}
{% block content %}
  <section class="rounded-3xl bg-white p-6 ring-1 ring-inset ring-zinc-200 dark:bg-zinc-900 dark:ring-zinc-700">
    <h1 class="text-2xl font-semibold tracking-tight text-zinc-900 dark:text-white">{% translate "Forbidden (403)" %}</h1>
    <p class="mt-2 text-zinc-700 dark:text-zinc-300">
      {% if exception %}
        {{ exception }}
      {% else %}
        {% translate "You're not allowed to access this page." %}
      {% endif %}
    </p>
  </section>
{% endblock content %}
