{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Page not found" %}
{% endblock title %}
{% block content %}
  <section class="rounded-3xl bg-white p-6 ring-1 ring-inset ring-zinc-200 dark:bg-zinc-900 dark:ring-zinc-700">
    <h1 class="text-2xl font-semibold tracking-tight text-zinc-900 dark:text-white">{% translate "Page not found" %}</h1>
    <p class="mt-2 text-zinc-700 dark:text-zinc-300">
      {% if exception %}
        {{ exception }}
      {% else %}
        {% translate "This is not the page you were looking for." %}
      {% endif %}
    </p>
  </section>
{% endblock content %}
